/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
    --accent-font: 'IBM Plex Mono', monospace;
    --bg-image: url(/images/cover-image-dark.png);
    --accent-color: #FF0070;
    --logo-color: #DB00FF;
    --text-color: #F1B2CE;
    --title-color: #FF0070;
    --sub-title-color: #000028;
    --shadow-color: #FF0070;
    --decorate-color: #FF0070;
    --element-on-page: visible;
    --transparency-rate: rgba(255, 0, 112, 0.40);
    --button-border-auto: 1px solid var(--accent-color);
    --button-border-dark: none;
    --button-border-light: none;
}

